* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    background-color: #0F172A;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

}

.flex {
    display: flex;

}

.sectionMain {
    color: #3B82F6;
    font-size: 32px;
    font-weight: 700;

}



.sectionStyle,
button {
    border-radius: 16px;
}

.mainContent {
    flex: 1;

}


.mainContent,
.sectionStyle,
body {
    flex-direction: column;
    gap: 20px;

}


.sectionStyle {
    background-color: #1E293B;
    border: 2px solid #334155;

    padding: 20px;


    align-items: center;

}

.header {
    text-align: center;
}

.mainHeading {
    font-size: 72px;
    font-weight: 800;
    color: #F8FAFC;
    letter-spacing: 2px;
}


.subHeading {
    font-size: 24px;
    font-weight: 400;
    color: #94A3B8;
    margin-top: 15px;

}

button {
    width: 200px;
    height: 220px;
    border: 2px solid #0f141a;
}

div img {
    width: 150px;
    height: auto;
}

.rock {
    background-color: #2563EB;

}

.paper {
    background-color: #22C55E;
}

.scissors {
    background-color: #EF4444;
}

.text,
.scoreText,
.footerText {
    color: #F8FAFC;
}

.text {
    font-size: 24px;
    font-weight: 600;

}

.scoreBoard,
.footer {
    text-align: center;
}

.scoreBoard {
    gap: 30px;
    min-width: 400px;
}

.buttonsContainer {
    gap: 20px;

    flex-wrap: wrap;

}

.player,
.round,
.opponent {
    flex-basis: 0;
    flex-grow: 1;
}

.scoreText {
    font-size: 30px;
    font-weight: 700;

}

.computerCurrent,
.playerCurrent,
.roundNumber {
    font-size: 50px;
    font-weight: 700;
    margin-top: 8px;
}

.computerCurrent,
.computer {
    color: #EF4444;
}

.playerCurrent,
.user {
    color: #2563EB;
}

.roundNumber {
    color: #677c98;
}

.computer,
.user,
.result {
    font-size: 30px;
    font-weight: 600;

}

.winner {
    color: #22C55E;
}

.loser {
    color: #d80a0a
}

.draw {
    color: gold;
}

.footerText {
    font-size: 40px;
    font-weight: 600;
}